matplotlib==1.5.0
numpy==1.11.0
scipy==0.17.0
scikit-image==0.12.3
scikit-learn==0.17.1
git+https://github.com/Theano/Theano.git@a34dec55bfd6bd84e92a97346b5665f685b83a44#egg=Theano==dev.git
git+https://github.com/Lasagne/Lasagne.git@0440814d4e7936de8423c29bbf9d5423ccc28ee8#egg=Lasagne==dev.git
boltons==16.0.0
pastalog==1.0.2
click==6.6
