cycler==0.9.0
matplotlib==1.5.0
numpy==1.10.1
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
scipy==0.16.1
six==1.10.0
scikit-image==0.11.3
git+https://github.com/Theano/Theano.git@9b8847d#egg=Theano==dev.git
git+https://github.com/Lasagne/Lasagne.git@ffed652#egg=Lasagne==dev.git
